<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Horarios</title>
    <link rel="stylesheet" href="/static/CSS/style.css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="Title">
        <h1>Sistema de Horarios</h1>
        <p>Este es un sistema de horarios para la Universidad Autonoma de Campeche</p>
    </div>
    <div class="container">
        <div class="form">
            <h1>Agregar salón</h1>
            <form action="{{ url_for('submit') }}" method="POST">
                <label for="room_number">ID del Grupo:</label>
                <input type="text" id="room_number" name="room_number" placeholder="R1" required><br><br>

                <label for="room_name">Grupo:</label>
                <input type="text" id="room_name" name="room_name" placeholder="ITS-1-A" required><br><br>

                <input type="submit" value="Agregar salón">
            </form>

        </div>
        <div class="form">
            <h1>Agregar horario</h1>
            <form action="{{ url_for('submit') }}" method="POST">
                <label for="room_id">ID del salón:</label>
                <input type="text" id="room_id" name="room_id" placeholder="1" required><br><br>

                <label for="meeting">Horario:</label>
                <input type="text" id="meeting" name="meeting" placeholder="Lunes 07:00 - 9:00" required><br><br>

                <input type="submit" value="Agregar salón">
            </form>

        </div>
        <div class="form">
            <h1>Agregar instructor</h1>
            <form action="{{ url_for('submit') }}" method="POST">
                <label for="id">ID del instructor:</label>
                <input type="text" id="id" name="id" placeholder="I1" required><br><br>

                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" placeholder="Dr Justino" required><br><br>

                <input type="submit" value="Agregar instructor">
            </form>

        </div>
    </div>

    <div class="container-list">
        <div class="list">
            <h2>Salones registrados</h2>
            <ul>
                {% for room in rooms %}
                <li>ID: {{ room['room_number'] }} - Grupo: {{ room['room_name'] }}</li>
                {% else %}
                <li>No hay salones registrados.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="list">
            <h2>Horarios registrados</h2>
            <ul>
                {% for meeting in meeting_times %}
                <li>ID: {{ meeting['room_id'] }} - Horario: {{ meeting['meeting'] }}</li>
                {% else %}
                <li>No hay reuniones registradas.</li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="list">
            <h2>Instructores registrados</h2>
            <ul>
                {% for instructor in instructors %}
                <li>ID: {{ instructor['id'] }} - Nombre: {{ instructor['name'] }}</li>
                {% else %}
                <li>No hay instructores registrados.</li>
                {% endfor %}
            </ul>
        </div>


    </div>
</body>

</html>