<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Horarios</title>
    <link rel="stylesheet" href="/static/CSS/style.css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="form">
            <h1>Agregar un nuevo salón</h1>
            <form action="{{ url_for('submit') }}" method="POST">
                <label for="room_number">Número del salón:</label>
                <input type="text" id="room_number" name="room_number" required><br><br>

                <label for="room_name">Nombre del salón:</label>
                <input type="text" id="room_name" name="room_name" required><br><br>

                <input type="submit" value="Agregar salón">
            </form>

            <h2>Salones registrados</h2>
            <ul>
                {% for room in rooms %}
                <li>{{ room['room_number'] }} - {{ room['room_name'] }}</li>
                {% else %}
                <li>No hay salones registrados.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="form">
            <h1>Agregar un nuevo horario</h1>
            <form action="{{ url_for('submit') }}" method="POST">
                <label for="room_id">Número del salón:</label>
                <input type="text" id="room_id" name="room_id" required><br><br>

                <label for="meeting">Nombre del salón:</label>
                <input type="text" id="meeting" name="meeting" required><br><br>

                <input type="submit" value="Agregar salón">
            </form>

            <h2>Horarios registrados</h2>
            <ul>
                {% for meeting in meeting_times %}
                <li>Salón ID: {{ meeting['room_id'] }} - Reunión: {{ meeting['meeting'] }}</li>
                {% else %}
                <li>No hay reuniones registradas.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="form">
            <h1>Agregar un nuevo instructor</h1>
            <form action="{{ url_for('submit') }}" method="POST">
                <label for="id">Id del instructor:</label>
                <input type="text" id="id" name="id" required><br><br>

                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required><br><br>

                <input type="submit" value="Agregar instructor">
            </form>

            <h2>Instructores registrados</h2>
            <ul>
                {% for instructor in instructors %}
                <li>ID: {{ instructor['id'] }} - Nombre: {{ instructor['name'] }}</li>
                {% else %}
                <li>No hay instructores registrados.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

</html>